# RageDB Files
rage.log
rage.restore

# Visual Studio
.vscode/

# Coveralls
.coveralls.yml

# CLion
.idea
*.PVS-Studio.cfg
*.PVS-Studio.i

# PVS Studio
.PVS-Studio/
strace_out

# Build directories
build
cmake-build-debug/
cmake-build-debug-coverage/
cmake-build-minsizerel/
cmake-build-release/
cmake-build-relwithdebinfo/
cmake-build-release-coverage/
test/cmake-build-release-coverage/

### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

