div.code {
    white-space: pre;
}

#code {
    position: relative;
    height: 400px;
}

.dropdown-trigger {
    padding-top: 2px;
}

#second-column {
    height: 100%;
}

.rotate {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
