div.code {
    white-space: pre;
}

#code {
    position: relative;
    height: 400px;
}

.dropdown-trigger {
    padding-top: 2px;
}

#second-column {
    height: 100%;
}

.rotate {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}


*, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #d2d6dc;
}

.overflow-x-auto {
    overflow-x: auto;
}

[data-results] {
    display: none;
}

.is-active {
    display: initial;
}

[data-results]:target {
    display: block;
}

#response-json pre {outline: 1px solid #ccc; padding: 3px; }
#response-json .json-string { color: green; }
#response-json .json-number { color: royalblue; }
#response-json .json-boolean { color: darkred; }
#response-json .json-null { color: magenta; }
#response-json .json-key { color: rebeccapurple; }

th.gridjs-th-sort .gridjs-th-content {
    padding-right: 25px;
}

th.gridjs-th .gridjs-th-content {
    text-overflow: unset;
}

body.dark {
    background-color: #1b191e;
    color: #ffffff; }

body.dark .subtitle,
body.dark .title {
    color: #ffffff; }

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center; }

button {
    cursor: pointer;
    border: none;
    color: #ffffff;
    padding: .8rem;
    background: #1b191e;
    border-radius: 6px; }

body.dark button {

    color: #1b191e; }

body.dark .box {
    background-color: #1b191e;
    color: #ffffff;
}

body.dark .navbar {
    background-color: #1b191e;
}